p{
    font-weight: 600;
    color:#817699;
}

ion-item {
    --border-color: #FAF9FD;
}
ion-col{
    padding: 0;
    text-align: left;
}

ion-card{
    border-radius: 20px;
    /* height: 202px; */
    margin: 20px 0px 0px 0px;
    width: 48.6%;
    min-width: 158px;
    min-height: 202px;
}
ion-card-content {
    padding-right: 10px;
    &:after{
        content: "";
        border-top: 1px solid #FAF9FD;
        left: 10%;
        position: absolute;
        top: -10%;
        width: 83%;
    }
}

ion-card-header{
    padding-bottom: 0px;
}

h1{
    background:  linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
    font-weight: 600;
    font-size: 0.7em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    color: #817699;
    font-size: 0.6em;
}