<ion-tabs>
  <ion-fab-button class="fabButton">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-tab-bar slot="bottom" class="bottom-tab-bar box">
    <ion-tab-button tab="inicio">
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <i class="mdi mdi-home-outline"></i>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <i class="mdi mdi-format-list-bulleted"></i>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ahorrar" disabled>
      <div></div>
      <ion-label class="ahorrarLabel">Ahorrar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <i class="mdi mdi-account-circle-outline"></i>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mas">
      <i class="mdi mdi-dots-horizontal"></i>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
