ion-tab-bar {
    align-self: center;
    background: transparent;
    border: 0;
    border-radius: 16px;
    bottom: 35px;
    height: 60px;
    position: absolute;
    width: 100%;
    ion-tab-button {
        color: #A99DC6;
        background: none; 
        i{
            font-size: 20px;
        }
        ion-label{
            font-size: 10px;
        }
        &.tab-selected i, &.tab-selected ion-label {
            background:  linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.ahorrarLabel {
    margin-top: 26px;
}

.fabButton {
    --background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
    left: 41.6%;
    position: relative;
    top: -10px;
    z-index: 11;
}
.box { 
    overflow: hidden;
    position: relative;

    &:before {
        border-radius: 50%;
        box-shadow: 0 0 0 85em rgb(255 255 255 / 100%);
        content: "";
        left: 39%;
        margin: 1%;
        padding: 33px;
        position: absolute;
        top: -64%;
        z-index: -1;
    }
}
::ng-deep.tabs-inner {
    contain: none !important;
    position: unset !important;
}

@media (min-width:485px){
    .fabButton{
        left: 46.3%;
    }

    .box:before {
        left: 45%;
        top: -69%;
    }
}